{{#each this}}
  <li class='search-form-list__item' id='{{id}}'>
    <div class='search-form-list__thumb'>
      <img
        class='search-form-list__img'
        src='{{poster_path}}'
        alt='poster path of {{title}}'
        loading='lazy'
      />

    </div>
    <div class='search-form-list__info' id='{{id}}'>
      <h3 class='search-form-list__title' id='{{id}}'>{{title}}</h3>
      <p class='search-form-list__date'>{{release_date}}</p>
    </div>
  </li>
{{/each}}